body {
  background-image: url("../images/bg.png");
  font-family: 'Londrina Solid', cursive;
  font-size: 26px;
  font-weight: 100;
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
}

.info-panel {
  justify-content: space-between;
  width: 500px;
  margin: 0 auto -5% auto;
}

.info-panel img {
  padding: 0 5%;
  width: 30px;
  height: 50px;
}

#lives-panel {
  padding-left: 5%;
}

#lives-counter {
  padding-left: 9%;
}

#score-panel {
  padding-right: 5%;
}
